<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/80bddfaee2.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>VeggiesTemplate</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">VeggiesShop</a>
            </div>
            <div class="btn">
                <a href="signin.html"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                <a href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img src="img/onions.png" alt="onions" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Fresh Onions</h2>
                        </a>
                        <div class="quantity">1kg</div>
                        <div class="price-cart">
                            <div class="price">&#8377;24</div>
                            <button class="cartbtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img src="img/onions.png" alt="onions" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Fresh Onions</h2>
                        </a>
                        <div class="quantity">1kg</div>
                        <div class="price-cart">
                            <div class="price">&#8377;24</div>
                            <button class="cartbtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img src="img/onions.png" alt="onions" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Fresh Onions</h2>
                        </a>
                        <div class="quantity">1kg</div>
                        <div class="price-cart">
                            <div class="price">&#8377;24</div>
                            <button class="cartbtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img src="img/onions.png" alt="onions" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Fresh Onions</h2>
                        </a>
                        <div class="quantity">1kg</div>
                        <div class="price-cart">
                            <div class="price">&#8377;24</div>
                            <button class="cartbtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img src="img/onions.png" alt="onions" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Fresh Onions</h2>
                        </a>
                        <div class="quantity">1kg</div>
                        <div class="price-cart">
                            <div class="price">&#8377;24</div>
                            <button class="cartbtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img src="img/onions.png" alt="onions" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Fresh Onions</h2>
                        </a>
                        <div class="quantity">1kg</div>
                        <div class="price-cart">
                            <div class="price">&#8377;24</div>
                            <button class="cartbtn">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">
            Copyright &copy; 2021 VeggiesShop
        </footer>
    </div>
    
</body>
</html>